.kateproject
.kateproject.d/
*.kate-swp
*.pdf
test.cpp
src/t
t
.directory
*.md~
*.txt~
.gitignore~
build
CMakeLists.txt.user
*.*.autosave
*.cpp~
*.hpp~
maps/
*.*~
*.rviz
*.kdev4
.kdev4/
.kdev_include_paths
