<launch>

    <node pkg="localization" type="localization_node" name="localization_node" output="screen">

        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="sample_motion_model" value="odom"/> <!-- odom or vel-->
        <param name="measurement_model" value="beam"/> <!-- likelihood or beam-->
        <param name="map_max_occ_distance" value="2.0" />
        <param name="monte_carlo_version" value="normal"/><!--augmented or normal -->
        <param name="laser_scan_topic" value="scan"/> <!-- the laser topic-->
        <param name="motion_model_command_topic" value="odom"/><!--cmd_vel or odom -->
        <param name="map_server_topic" value="map"/>
        <param name="pose_array_topic" value="pose_array"/>
        <param name="sample_set_size" value="2000"/>
	<param name="spread_samples" value="false"/>
	<param name="resample_rate" value="5"/>
	<param name="number_random_particles" value="0.1"/>

    </node>

</launch>
