<launch>
	<!--Iniciar Mapa-->
	
	<node name="map_node" pkg="map_server" type="map_server" args="$(find localization)/maps/wgmap.yaml" respawn="false" > 
	<!--<param name="frame_id" value="/odom" />-->
	</node>
				
	<!---Iniciar Gazebo-->

	<include file="$(find p3dx_gazebo)/launch/gazebo.launch" />

	<!--=======Iniciar RVIZ=============-->
	<include file="$(find p3dx_description)/launch/rviz.launch" />

	<!--Iniciar AMCL-->
	

	<!--Iniciar MCL
		Futuramente-->

	

</launch>
