<launch>

    <!-- start the MAP SERVER -->
    <node name="map_server" pkg="map_server" type="map_server" args="/home/josias/ROS/bagfiles/wgmap.yaml"/>
    <node name="static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 100" />

    <!---Iniciar Gazebo-->
    <include file="$(find p3dx_gazebo)/launch/gazebo.launch" />

<!--     <node name="amcl" pkg="amcl" type="amcl"/> -->

    <!--Iniciar Mapa-->
    <!--  <arg name="map_file" default="$(find p3dx_description)/mapjosias.yaml"/>-->    <!-- Run the map server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />-->

</launch>
